* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "Playwrite GB S", cursive;
}
.container {
  padding: 20px;
  background-color: #cdd6d0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 10%;
  background-color: #9eb2aa;
  box-shadow: 5px 2px 30px 5px rgba(0, 0, 0, 0.1);
}

.nav-links ul {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.nav-links ul li a {
  color: #7ca633;
  column-gap: 500;
}
.nav-links ul li a:hover {
  color: #0c0000;
}
.banner {
  display: grid;
  grid-template-columns: 9fr 3fr;
  align-items: center;
  height: 95vh;
  padding: 0% 20%;
}
.intro {
  font-weight: 400;
  font-size: 40px;
  color: rgb(54, 38, 38);
}
.name {
  font-weight: 700;
  font-size: 60px;
  color: #588729;
}
.mypic {
  height: 400px;
  width: 300px;
  margin-right: 500px;
}
.resume {
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  background-color: #3b542c;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  margin-top: 30px;
}
.resume:hover {
  background-color: #b52924;
  cursor: pointer;
  transition: 0.3s;
}
/*banner css end*/
/*about css start*/
.about {
  display: grid;
  grid-template-columns: 9fr 3fr;
  align-items: center;
  padding: 0% 10%;
}
.about-img img {
  border-radius: 50%;
  height: 550px;
  width: 450px;
}
.about-content h3 {
  font-size: 26px;
  font-weight: 500;
  color: #9c241e;
  margin-bottom: 15px;
}
.about-content p {
  font-size: 18px;
  border-left: 2px solid #5c4130;
  padding-left: 15px;
}
/*about css end*/
/* tech start */
.technology {
  padding: 0% 20%;
}
.technology h2 {
  font-size: 50px;
  font-weight: 500;
  color: #02020a;
  text-align: center;
  margin: 50px 0;
}
.techs {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  column-gap: 20px;
  row-gap: 30px;
}
.techs img {
  width: 200px;
  height: 100px;
}
.techs img:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: 0.3s;
}
/*tech end*/
/*project start*/
.project {
  padding: 0% 15%;
  margin-bottom: 30px;
}
.project h2 {
  font-size: 50px;
  font-weight: 500;
  color: rgb(10, 11, 11);
  text-align: center;
  margin: 50px 0;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  column-gap: 20px;
  justify-content: center;
}
.card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #02020a;

  display: flex;
  flex-direction: column;

  padding: 10px;
}
.card img:hover {
  transform: scale(1.01);
  transition: 0.3s;
}
.card img {
  width: 400px;
  border-radius: 10px;
}
.card h3 {
  margin: 15px 0;
  color: #2f485e;
  font-weight: 500;
  font-size: 20px;
}
.card p {
  font-weight: 400;
  margin-bottom: 30px;
  color: #2f485e;
}
.icons {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.icons a {
  color: #fff;
  background-color: #2f485e;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  border-radius: 50%;
}
.icons a:hover {
  background-color: #a4b6ac;
  transition: 0.2s;
}
.contact-sec {
  background-color: #dfdfdf;
  box-shadow: 2px 2px 25px 2px #ddd;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 2% 0%;
}
.contact {
  background-color: #fefefe;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  border-radius: 10px;
}

.contact h2 {
  font-size: 50px;
  font-weight: 500;
  color: #2f485e;
  text-align: center;
  margin: 50px 0;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  row-gap: 10px;
}
.fields {
  padding: 15px 20px;
  border-radius: 10px;
  border: 2px solid #2f485e;
}
.contact-form button {
  padding: 15px 25px;
  border-radius: 15px;
  border: none;
  background-color: #2f485e;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  margin-top: 30px;
}
.contact-form button:hover {
  background-color: #a4b6ac;
  cursor: pointer;
  transform: scale(1.01);
  transition: 0.3s;
}

footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
  font-size: 20px;
  font-weight: 400;
  color: #2f485e;
}
/*project end*/
